First, I import numpy and pandas to load the data sets into pandas data frames.

In [2]:
import numpy as np
import pandas as pd

I read in 3 different education datasets to perform an analytical study of the impact of the COVID-19 pandemic on the existing state of education around the world:
- [UNESCO Educational Stats](https://www.kaggle.com/krukmat/complete-educational-stats-unesco "Complete educational Stats (UNESCO)")
- [World Bank Educational Stats](https://www.kaggle.com/theworldbank/education-statistics "Education Statistics")
- [Impact on Enrollment Due to COVID-19](https://www.kaggle.com/krukmat/complete-educational-stats-unesco "Education and COVID-19")

First, I loaded the UNESCO data into a panda data frame.

In [28]:
unesco_stats_df = pd.read_csv('../data/raw/EDULIT_DS_30112019025843883.csv')

/Users/Archana/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

I peek at the data to see how it is formatted.

In [29]:
unesco_stats_df.head()

,EDULIT_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
0,20060,"Enrolment in pre-primary education, both sexes...",AUS,Australia,1971,1971,184381.0,NaN,NaN
1,20060,"Enrolment in pre-primary education, both sexes...",AUS,Australia,1974,1974,182545.0,NaN,NaN
2,20060,"Enrolment in pre-primary education, both sexes...",AUS,Australia,1975,1975,186652.0,NaN,NaN
3,20060,"Enrolment in pre-primary education, both sexes...",AUS,Australia,1976,1976,203146.0,NaN,NaN
4,20060,"Enrolment in pre-primary education, both sexes...",AUS,Australia,1977,1977,203114.0,NaN,NaN

I drop the missing columns:

In [36]:
unesco_stats_df.dropna().head()

,EDULIT_IND,Indicator,LOCATION,Country,TIME,Time,Value,Flag Codes,Flags
238,20060,"Enrolment in pre-primary education, both sexes...",DNK,Denmark,2003,2003,249981.0,‡,UIS Estimation
1217,20060,"Enrolment in pre-primary education, both sexes...",ASM,American Samoa,1975,1975,2000.0,‡,UIS Estimation
1218,20060,"Enrolment in pre-primary education, both sexes...",ASM,American Samoa,1978,1978,1816.0,‡,UIS Estimation
1221,20060,"Enrolment in pre-primary education, both sexes...",ASM,American Samoa,1983,1983,1820.0,‡,UIS Estimation
1222,20060,"Enrolment in pre-primary education, both sexes...",ASM,American Samoa,1984,1984,1845.0,‡,UIS Estimation

I notice that the flag codes and flags are unnecessary values as their data type makes them all appear as the same value. I remove this data from the table.

In [37]:
unesco_stats_df = unesco_stats_df.drop(columns=['Flag Codes', 'Flags'])

After clearning, these are the column headers:

In [38]:
unesco_stats_df.columns

Index(['EDULIT_IND', 'Indicator', 'LOCATION', 'Country', 'TIME', 'Time',
       'Value'],
      dtype='object')

Next, I load in the other two data sources and check for common columns:

In [42]:
world_bank_stats_df = pd.read_csv('../data/raw/edstats-csv-zip-32-mb-/EdStatsCountry.csv')
covid_stats_df = pd.read_csv('../data/raw/education_COVID19.csv')

In [61]:
world_bank_stats_df.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

In [60]:
covid_stats_df.columns

Index(['Country Code', 'Country Name', 'Dt Extraction',
       'If Closed due to COVID19 When', 'Income Level', 'Region Name',
       'School Status', 'Year Pre', 'Year Prm', 'Year Sec', 'Year Ter',
       'Latitude (generated)', 'Longitude (generated)', 'Enrollment',
       'Se Pre Enrl', 'Se Prm Enrl', 'Se Sec Enrl', 'Se Ter Enrl'],
      dtype='object')

In [62]:
#trying the find intersection
pd.Index(world_bank_stats_df).intersection(pd.Index(covid_stats_df))

Index([], dtype='object')